.caja {
	background-color: #9B0022;
}

header {
	text-align: center;
}

.back {
	background-image: url(http://)
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.back {
	background-color: rgb(255, 255, 255, 0);
}

.texto {
	position: absolute;
	top: 40%;
}